html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/* 로고 폰트 */
@font-face {
  font-family: Pacifico;
  src: url("../../public/fonts/Pacifico-Regular.ttf");
}

/* 헤더, 푸터 폰트 */
@font-face {
  font-family: Garamond;
  src: url("../../public/fonts/Garamond Becker No2 Caps Med Regular.ttf");
}

/* 본문 타이틀 폰트 */
@font-face {
  font-family: AbrilFatface;
  src: url("../../public/fonts/AbrilFatface-Regular.ttf");
}

/* 본문 하이라이트 폰트 */
@font-face {
  font-family: MarckScript;
  src: url("../../public/fonts/MarckScript-Regular.ttf");
}

/* antd custom */
.ant-pagination .ant-pagination-item-active a {
  color: black;
}

a {
  color: black;
}

.ant-pagination .ant-pagination-item-active {
  border-color: black;
}

.ant-pagination .ant-pagination-item-active:hover {
  border-color: black;
}

.ant-pagination .ant-pagination-item-active:hover a {
  color: black;
}

.ant-pagination {
  position: fixed;
  bottom: 30px;
}

.ant-tabs .ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
  color: black;
}

.ant-tabs .ant-tabs-tab {
  color: darkgray;
}

.ant-tabs .ant-tabs-tab:hover {
  color: black;
}

.ant-tabs .ant-tabs-ink-bar {
  background: black;
}
